
<!DOCTYPE html>
 <html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=3.0,user-scalable=yes" name="viewport">
	<meta name="format-detection" content="telephone=no">
	<meta name="naver-site-verification" content="44191bf280942a37902e9d4e7aa341c5ddccb7db"/>	
	<meta name="google-site-verification" content="eesc9VtVu28SGzXUtr4CyK0N1Fnfq2fiT00bMXgKmOk" />	<meta name="subject" content="아울디자인">
	<meta name="description" content="하이앤드 인테리어 주거, 상업, 공간컨설팅, 트렌드에 맞춰 나만의 라이프스타일을 디자인하다 아울디자인.">
	<meta name="keywords" content="아울디자인">
    	<title>YEJO 인테리어</title>

	<meta property="og:url"	content="https://owldesign.co.kr">
	<meta property="og:type" content="website">
	<meta property="og:title" content="아울디자인">
	<meta property="og:description"	content="하이앤드 인테리어 주거, 상업, 공간컨설팅, 트렌드에 맞춰 나만의 라이프스타일을 디자인하다 아울디자인.">
	<meta property="og:image" content="https://owldesign.co.kr/images/sns_link.png">
	<link rel="canonical" href="https://owldesign.co.kr">

	<link rel="stylesheet" type="text/css" href="/common/froala/css/froala_style.min.css" />

	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/css/pretendard.css">
	<link rel="stylesheet" type="text/css" href="/css/animate.css">
	<link rel="stylesheet" type="text/css" href="/css/venobox.css">
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/doc.css">
	<link rel="stylesheet" type="text/css" href="/css/board.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/slick.css">
	<link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">

	<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.gnb.js"></script>
	<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>	
	<script type="text/javascript" src="/js/slick.js"></script> 	
	<script type="text/javascript" src="/js/swiper.min.js"></script>
	<script type="text/javascript" src="/js/venobox.js"></script>
	<script type="text/javascript" src="/js/jquery.ui.js"></script>
	<script type="text/javascript" src="/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
	<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
	<link rel="stylesheet" type="text/css" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen">
	<script type="text/javascript" src="/js/wow.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</head>

<body id="sub" style="background-image:url('../images/common/sub-bg.gif');">
<div id="skipToContent">
				<a href="#contArea">본문 바로가기</a>
				<a href="#gnb">주메뉴 바로가기</a>
	</div>
<div id="wrapper"> 
	<!-- // header -->
     <header id="header">
		
		<div class="contain">
			<div class="sitelogo"><a href="/index.php">OWL DESIGN</a></div>	
			<div id="gnb">
				<h2 class="blind">주메뉴</h2>
				<ul>
					<li><a href="/company.php">OWL STORY</a></li>
					<li><a href="/portfolio.php">PORTFOLIO</a></li>
					<li><a href="/consulting.php">CONSULTANT </a></li>
					<li><a href="/about.php">ABOUT </a></li>
					<li><a href="/sns.php">SNS</a></li>
				</ul>
			</div>
			<a href="#menu" class="btn-m-menu"><span>메뉴</span></a><!-- for mobile -->

		</div>
		
		<div class="submenu-bg"></div>
	</header>
	<!-- header //-->

	<!-- for mobile -->
	<div id="menu" class="mobile-navigation">
		<div class="home"><a href="/index.php"><img src="/images/common/logo2.png" alt="OWL DESIGN"></a></div>
		<div class="m-lang"></div>
		<nav class="nav-menu">
		</nav>
		<a href="javascript:void(0);" class="close">Close</a>
	</div>
	<div class="mobile-overlay"></div>
    
<div id="container">
	<div id="contArea">
		<div class="sub-title">
			<h1>중앙 스토리</h1>
		</div>
		<div class="real-cont">
			<!--// content -->
				<div class="greeting wow fadeIn"  data-wow-delay="0.3s" data-wow-duration="0.8s">
					<div class="img"><img src="../images/sub/greeting.jpg" alt=""></div>
					<div class="txt-wrap">
						<div class="col">
							<p class="tit">안녕하세요, 중앙정보처리학원 대표 신희문입니다.</p>
							<p class="txt">사람들은 각자 자신을 둘러싼 공간 속에서 삶을 영위하고 가치를 실현합니다. <br>공간은 사람에 의해 창조되고, 동시에 우리 역시 공간을 통해 정의됩니다.</p>
							<p class="txt">저희 아울디자인은 고객님에게 최고의 가치를 선사하기 위하여 <br>'남들과는 다른' 섬세함과 창의성을 내세운 서비스를 제공합니다.</p>
							<p class="txt">오로지 고객님 한 분만을 위해, 주인공으로서 공간에 머무르실 수 있도록 <br>전문성을 갖춘 직원들이 상호 소통하며 노력하고 있습니다.</p>
							<p class="txt">기본기에 혁신성을 더해 어디에서도 누리지 못한 라이프스타일을 선사해 드리겠습니다.</p>
							<p class="txt">아울디자인을 찾아 주신 분들께 진심으로 감사드립니다.</p>
						</div>
						<div class="col">
							<h2 class="tit"><span class="highlight">트렌드는 소통으로부터</span></h2>
							<p class="txt">아울디자인은 이 시대의 트렌드를 고객님에게 적절히 접목시키기 위하여 소통에 중점을 두고 작업합니다.</p>
						</div>
						<div class="col">
							<h2 class="tit"><span class="highlight">남들과는 다르다</span></h2>
							<p class="txt">아울디자인은 이 시대의 트렌드를 고객님에게 적절히 접목시키기 위하여 소통에 중점을 두고 작업합니다.</p>
						</div>
						<div class="col">
							<h2 class="tit"><span class="highlight">안전이 최우선</span></h2>
							<p class="txt">아울디자인은 전문 시공팀과 10년 넘게 호흡을 맞춰 왔으며, 무엇보다도 안전을 중요시합니다. </p>
						</div>
						<div class="col">
							<h2 class="tit"><span class="highlight">A to Z, 비스포크 서비스</span></h2>
							<p class="txt">모든 프로젝트마다 풍부한 지식과 경험을 갖춘 디자이너 및 시공 팀장이 배정되어, <br>상담부터 A/S까지 오로지 고객님만을 위해 진행됩니다.</p>
						</div>
					</div>
				</div>
			<!-- content //-->
		</div>
	</div>
</div>


	<!--// footer -->
   <footer id="footer">
		<div class="f-cnt">
			<div class="contain">
				<address>
					<strong>OWL DESIGN</strong>
					<span>대표 : 신희문</span> <span>주소 : 중앙정보처리학원 402호</span> <span>TEL : 02-324-8004 </span> <span>E-MAIL : owl_design@naver.com</span>
					<span class="copyright">Copyright(C)OWL DESIGN. All Rights Reserved. <a href="https://www.website.co.kr/" target="_blank" title="새창열림">Desigend by WebSite.co.kr</a></span>
				</address>
			</div>
		</div>
	</footer>
	
	
	
    <!-- footer //-->
</div>


</body>
</html>