<!DOCTYPE html>
 <html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=3.0,user-scalable=yes" name="viewport">
	<meta name="format-detection" content="telephone=no">
	<meta name="subject" content="YEJO인테리어">
	<meta name="description" content="트렌드에 맞춰 나의 공간을 디자인 하다 YEJO INTERIOR YEJO인테리어.">
	<meta name="keywords" content="YEJO인테리어">
    	<title>YEJO인테리어</title>

	<meta property="og:url"	content="https://yejointerior.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="YEJO인테리어">
	<meta property="og:description"	content="트렌드에 맞춰 나의 공간을 디자인 하다 YEJO INTERIOR YEJO인테리어.">
	<meta property="og:image" content="https://yejo7048.cdn1.cafe24.com/images/yejo.png">
	<link rel="canonical" href="https://yejointerior.com">

	<link rel="stylesheet" type="text/css" href="/common/froala/css/froala_style.min.css" />

	<link rel="shortcut icon" type="image/x-icon" href="https://yejo7048.cdn1.cafe24.com/images/favicon.png">
	<link rel="stylesheet" type="text/css" href="/css/pretendard.css">
	<link rel="stylesheet" type="text/css" href="/css/animate.css">
	<link rel="stylesheet" type="text/css" href="/css/venobox.css">
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/doc.css">
	<link rel="stylesheet" type="text/css" href="/css/board.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/slick.css">
	<link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">
	<link rel="stylesheet" type="text/css" href="/css/consultant.css">
	<link rel="stylesheet" type="text/css" href="/css/kakao.css">

	<script src="/js/main/consultantRestApi.js" defer></script>
	<script src="/js/consultant.js" defer></script>
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="/js/addressAPI.js" defer></script>
	<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.gnb.js"></script>
	<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>	
	<script type="text/javascript" src="/js/slick.js"></script> 	
	<script type="text/javascript" src="/js/swiper.min.js"></script>
	<script type="text/javascript" src="/js/venobox.js"></script>
	<script type="text/javascript" src="/js/jquery.ui.js"></script>
	<script type="text/javascript" src="/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
	<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
	<link rel="stylesheet" type="text/css" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen">
	<script type="text/javascript" src="/js/wow.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</head>

<body id="sub" style="background-image:url('https://yejo7048.cdn1.cafe24.com/images/common/sub-bg.gif');">
<div id="skipToContent">
				<a href="#contArea">본문 바로가기</a>
				<a href="#gnb">주메뉴 바로가기</a>
	</div>
<div id="wrapper"> 
	<!-- // header -->
    <div th:replace="~{/main/header :: header}"></div>
	<!-- header //-->

	<!-- for mobile -->
	<div id="menu" class="mobile-navigation">
		<div class="home"><a href="/index.php"><img src="https://yejo7048.cdn1.cafe24.com/images/common/logo2.png" alt="YEJO INTERIOR"></a></div>
		<div class="m-lang"></div>
		<nav class="nav-menu">
		</nav>
		<a href="javascript:void(0);" class="close">Close</a>
	</div>
	<div class="mobile-overlay"></div>
    <script>
	function checkForm(frm){
		if(frm.chk.checked==false){
			alert("개인정보 수집 및 이용에 동의해주세요.");
			frm.chk.focus();
			return false;
		}
	}
</script>

<div id="container">
	<div id="contArea">
		<div class="sub-title">
			<h1>CONSULTANT</h1>
		</div>
		<div class="real-cont">
			<!--// content -->
			<style link rel="/css/style.css"></style>
<!-- 글쓰기페이지 START -->
<script language="javascript">
function frmCheck(frm){
	if(frm.subject.value.length < 2){
		frm.subject.focus();
		alert("성함을 입력해 주세요.");
		return false;
	}

	if(frm.chk.checked==false){
		alert("개인정보 수집 및 이용에 동의해 주세요.");
		frm.chk.focus();
		return false;
	}

	frm.checked_contents.value = "Y";
	/*//네이버 에디터
	try{ oEditors_contents.getById["contents"].exec("UPDATE_CONTENTS_FIELD", [])(); } catch(e){ }
	//썸머노트 에디터내용 입력
	try{ $("#contents").val($('#summernote_contents').summernote('code')); } catch(e){ }

	try{
		if(frm.youtube.value.length > 0 && frm.vimeo.value.length > 0){
				alert("1가지 동영상 업로드 가능합니다.");//1가지 동영상 업로드 가능합니다.
				frm.vimeo.value="";
				return false;
		}
	}catch(e){ }
	try{
		if(frm.vimeo.value.length > 0 && frm.website.value.length > 0){
				alert("1가지 동영상 업로드 가능합니다.");//1가지 동영상 업로드 가능합니다.
				frm.website.value="";
				return false;
		}
	}catch(e){ }
	try{
		if(frm.youtube.value.length > 0 && frm.website.value.length > 0){
				alert("1가지 동영상 업로드 가능합니다.");//1가지 동영상 업로드 가능합니다.
				frm.website.value="";
				return false;
		}
	}catch(e){ }*/
}


//첨부파일 열 추가
var rowcount = 0;
function append() { 
	if(rowcount > 3){
		return;
	}else{
		rowcount++;
	}

	var files = $('#files-upload');
	var file =  '<div class="files-upload-group">' +
				'	<div class="files-upload-input">' +
				'		<input name="upfiles['+rowcount+']" type="file" class="input" id="file'+rowcount+'" title="첨부파일'+rowcount+'">' +
				'	</div>' +
				'	<div class="files-upload-text">' +
				'		<div class="upfiles-alt">' +
				'			<label for="upfiles_text'+rowcount+'">대체 텍스트</label>' +
				'		</div>' +
				'		<input type="text" name="upfiles_text['+rowcount+']" class="input" id="upfiles_text'+rowcount+'" title="첨부파일'+rowcount+' 대체 텍스트">' +
				'	</div>' +
				'</div>'; 
	files.append(file);  
}

function remove() {  
	if(rowcount > 0){
		var files = document.getElementById('files-upload');
		if (files.hasChildNodes()) {      
			files.removeChild(files.lastChild);
		}
		rowcount--;
	}
}
//첨부파일 열 추가

function OnContents(str){	
	if(str=="Y"){
		contentEditor_y.style.display = "block";
		contentEditor_n.style.display = "none";
	}else{
		contentEditor_y.style.display = "none";
		contentEditor_n.style.display = "block";
	}
}

function inputNum(obj){
  if (event.keyCode >= 48 && event.keyCode <= 57) {
  }else {
	  alert("숫자만 입력해주세요.");
	  event.returnValue = false;
  }
}

</script>
<script>
        $(document).ready(function() {
            // '첨부파일 추가' 버튼 클릭 시 이벤트 핸들러
            $("#addFileButton").click(function() {
                // 새로운 파일 업로드 필드를 생성하여 컨테이너에 추가
                var newbannerImage = '<div class="files-div"><input type="file" name="upfiles[]" class="input" style="width:100%;"></div>';
                $(".files-container").append(newbannerImage);
            });
        });

		$(document).ready(function() {
            // '첨부파일 추가' 버튼 클릭 시 이벤트 핸들러
            $("#addFileButton2").click(function() {
                // 새로운 파일 업로드 필드를 생성하여 컨테이너에 추가
                var newbannerImage = '<div class="files-div"><input type="file" name="upfiles2[]" class="input" style="width:100%;"></div>';
                $(".files-container2").append(newbannerImage);
            });
        });
    </script>
<!-- S 쓰기페이지 -->
<div class="wow fadeIn"  data-wow-delay="0.3s" data-wow-duration="0.8s">
		<form id="form1">


		<div class="consult">
			<div class="agree-wrap">
				<h2 class="doc-tit"><span class="highlight">안내사항</span></h2>
				<div class="txt-box" >
<textarea th:text="${content.guideContent}" id="autoResizeTextarea" style="width:100%; height:auto; overflow-y:hidden; resize:none;" readonly></textarea>
				</div>
				<h2 class="doc-tit"><span class="highlight">개인정보취급방침</span></h2>
				<div class="txt-box agree-box">
<div class="terms-wrap">
	<textarea th:text="${content.policyContent}" style="width:100%; height:350px;" readonly></textarea>
	
</div>							
				</div>
				<div class="check space-center">
					<span class="checkbox"><input type="checkbox" name="chk" id="p_chk"><label for="p_chk">개인정보 수집 및 이용에 동의합니다.</label></span>
				</div>
			</div>
		</div>
		
	
		<div class="consult-form">
		    <h2 class="form-title"><span class="highlight">고객 정보</span></h2>
		    <div class="form-group">
		        <div class="form-box">
		            <dl>
		                <dt><label for="customer_name">*성함</label></dt>
		                <dd><input type="text" name="name" id="customer_name" placeholder="성함을 입력해 주세요." class="form-input" required></dd>
		            </dl>
		        </div>
		     <div class="form-box">
			    <dl>
			        <dt><label for="contact1">*연락처</label></dt>
			        <dd class="tel-input">
			            <input type="tel"  id="contact1" class="form-input contact-input small-input" maxlength="4" required> - 
			            <input type="tel"  id="contact2" class="form-input contact-input medium-input" maxlength="4" required> - 
			            <input type="tel"  id="contact3" class="form-input contact-input medium-input" maxlength="4" required>
			            <input type="hidden" id="tel" name="tel">
			        </dd>
			    </dl>
			</div>

		        <div class="form-box">
		            <dl>
		                <dt><label for="customer_email">*이메일</label></dt>
		                <dd><input type="email" name="email" id="customer_email" placeholder="이메일을 입력해 주세요." class="form-input" required></dd>
		            </dl>
		        </div>                            
		        <div class="form-box">
		            <dl>
		                <dt>*유입 경로</dt>
		                <dd>
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="inflow" id="source_youtube" value="유튜브" checked><label for="source_youtube">유튜브</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="inflow" id="source_instagram" value="인스타그램"><label for="source_instagram">인스타그램</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="inflow" id="source_blog" value="블로그"><label for="source_blog">블로그</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="inflow" id="source_referral" value="지인소개"><label for="source_referral">지인소개</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="inflow" id="source_search" value="인터넷검색"><label for="source_search">인터넷검색</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="inflow" id="source_others" value="기타"><label for="source_others">기타</label></span>
		                    </span>
		                </dd>
		            </dl>
		        </div>
		        <div class="form-box">
		            <dl>
		                <dt><label for="customer_password">*비밀번호</label></dt>
		                <dd><input type="password" name="passwd" id="customer_password" placeholder="비밀번호를 입력해 주세요." class="form-input" required></dd>
		            </dl>
		        </div>
		    </div>
		    
		    <h2 class="form-title"><span class="highlight">*견적 내용</span></h2>
		    <div class="form-group">
		        <div class="form-box wide-box">
		            <dl>
		                <dt><label for="construction_address">*공사 예정지 주소</label></dt>
		                <dd>
		                	<input type="text" class="form-input" name="post" style="width:80px;" id="sample2_postcode" placeholder="우편번호">
							<input type="button" class="form-input address" onclick="sample2_execDaumPostcode()" value="주소 검색"><br>
							<input type="text" name="address1" id="sample2_address" class="form-input" placeholder="주소"><br>
							<input type="text" name="address2" id="sample2_detailAddress"	 class="form-input" placeholder="상세주소">
							<input type="text" id="sample2_extraAddress" class="form-input" placeholder="참고항목" style="display:none;">
							
							<!-- iOS에서는 position:fixed 버그가 있음, 적용하는 사이트에 맞게 position:absolute 등을 이용하여 top,left값 조정 필요 -->
							<div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
							<img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
							</div>
		                </dd>
		            </dl>
		        </div><br>
		        <div class="form-box wide-box">
		            <dl>
		                <dt>*공간 구성</dt>
		                <dd>
		                    <span class="inner">평수 <input type="text" name="areaSize" id="area_size" class="form-input small-input" onkeypress="inputNum"> 평</span>
		                    <span class="bar"></span>
		                    <span class="inner">방 <input type="text" name="roomCount" id="room_count" class="form-input small-input" onkeypress="inputNum"> 칸</span>
		                    <span class="bar"></span>
		                    <span class="inner">욕실 <input type="text" name="bathCount" id="bath_count" class="form-input small-input" onkeypress="inputNum"> 칸</span>
		                </dd>
		            </dl>
		        </div>
		        <div class="form-box">
		            <dl>
		                <dt>*공사 시작일</dt>
		                <dd><input type="text" name="constructionStartDate" class="form-input datepicker" placeholder="YYYY-MM-DD" required></dd>
		            </dl>
		        </div>
		        <div class="form-box">
		            <dl>
		                <dt>*입주 예정일</dt>
		                <dd><input type="text" name="moveInDate" class="form-input datepicker" placeholder="YYYY-MM-DD" required></dd>
		            </dl>
		        </div>
		        <div class="form-box">
		            <dl>
		                <dt>*공간 유형</dt>
		                <dd>
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="spaceType" id="type_apartment" value="아파트" checked><label for="type_apartment">아파트</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="spaceType" id="type_house" value="단독주택"><label for="type_house">단독주택</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="spaceType" id="type_villa" value="빌라"><label for="type_villa">빌라</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="spaceType" id="type_mixed" value="주상복합"><label for="type_mixed">주상복합</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="spaceType" id="type_officetel" value="오피스텔"><label for="type_officetel">오피스텔</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="spaceTDype" id="type_others" value="기타"><label for="type_others">기타</label></span>
		                    </span>&nbsp;&nbsp;
		                </dd>
		            </dl>
		        </div>
		        <div class="form-box">
		            <dl>
		                <dt>*공사 예산</dt>
		                <dd>
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="budget" id="budget_1000" value="1000만원"  checked onclick="budgeInput()"><label for="budget_1000">1000만원</label></span>
		                    </span>
		                    &nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="budget" id="budget_2000" value="2000만원" onclick="budgeInput()"><label for="budget_2000">2000만원</label></span>
		                    </span>
		                    &nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="budget" id="budget_3000" value="3000만원" onclick="budgeInput()"><label for="budget_3000">3000만원</label></span>
		                    </span>
		                    &nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="budget" id="budget_4000" value="4000만원" onclick="budgeInput()"><label for="budget_4000">4000만원</label></span>
		                    </span>
		                    &nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="budget" id="budget_5000" value="5000만원" onclick="budgeInput()"><label for="budget_5000">5000만원</label></span>
		                    </span>
		                    &nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="budget" id="budget_input" value="직접입력" onclick="budgeInput()"><label for="budget_input">직접입력</label></span>&nbsp;
		                        <input type="text" id="budget_money" style="width:100px; border:1px solid rgba(0,0,0,0.3);" readonly>만원
		                    </span>            
		                </dd>
		            </dl>
		        </div>
		        <div class="form-box wide-box">
		            <dl>
		                <dt><label for="floor_plan">*평면도<span style="font-size:12px; ">&nbsp&nbsp&nbsp*이미지 형식(jpg,png 등)으로 올려주세요</span></label></dt>
		                <dd><input type="file" id="floor_plan_file" class="form-input" accept=".jpg, .jpeg, .png,  .gif" multiple></dd>
		            </dl>
		        </div>
		        
		        <div class="form-box wide-box">
		            <dl>
		                <dt><label for="reference">참고 사진(URL)<span style="font-size:12px; ">&nbsp&nbsp&nbsp*이미지 형식(jpg,png 등)으로 올려주세요</span></label></dt>
		                <dd><input type="file" id="reference_file" class="form-input" accept=".jpg, .jpeg, .png,  .gif"></dd>
		                <dd><input type="text" name="referenceUrl" id="reference_url" class="form-input" placeholder="참고할 수 있는 사이트의 URL을 입력해주세요"></dd>
		            </dl>
		        </div>
		        <div class="form-box wide-box">
		            <dl>
		                <dt><label for="floor_plan">기타 문의사항</label></dt>
		                <dd><textarea class="inquiry" name="additionalInquiries"></textarea></dd>
		            </dl>
		        </div>
		    </div>
		</div>
		</form>

		<div class="buttons">
			<div class="cen">
				<input type="button" id="submit_btn" value="견적신청" class="btn-pack xlarge type2 focus round" title="견적 신청">
			</div>
		</div>
</div>
			
			<!-- 고객요청사항 : 연락처 작성 시 다들 다르게 작성하실 것 같아서 010 띄고 0000 띄고 0000 이렇게 3개로 나누어 작성할 수 있도록 설정 부탁드립니다.
					하단 관심프로젝트 URL 제외 모든 항목 필수항목 -->

			<!-- content //-->
		</div>
	</div>
</div>
<script>
  const textarea = document.getElementById('autoResizeTextarea');
  textarea.addEventListener('input', () => {
    // Reset height to auto to adjust for new content
    textarea.style.height = 'auto';
    
    // Set height to scrollHeight to match content height
    textarea.style.height = textarea.scrollHeight + 'px';
  });
  
  // Trigger input event to ensure proper height adjustment on load
  textarea.dispatchEvent(new Event('input'));
</script>
<div th:replace="~{main/kakao :: kakao}"></div>
	<!--// footer -->
   <div th:replace="~{/main/footer :: footer}"></div>
	
	
	
    <!-- footer //-->
</div>


</body>

</html>