<!DOCTYPE html>
 <html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=3.0,user-scalable=yes" name="viewport">
	<meta name="format-detection" content="telephone=no">
	<meta name="naver-site-verification" content="44191bf280942a37902e9d4e7aa341c5ddccb7db"/>	
	<meta name="google-site-verification" content="eesc9VtVu28SGzXUtr4CyK0N1Fnfq2fiT00bMXgKmOk" />	<meta name="subject" content="YEJO인테리어">
	<meta name="description" content="하이앤드 인테리어 주거, 상업, 공간컨설팅, 트렌드에 맞춰 나만의 라이프스타일을 디자인하다 YEJO인테리어.">
	<meta name="keywords" content="YEJO인테리어">
    	<title>YEJO인테리어</title>

	<meta property="og:url"	content="https://yejointerior.co.kr">
	<meta property="og:type" content="website">
	<meta property="og:title" content="YEJO인테리어">
	<meta property="og:description"	content="하이앤드 인테리어 주거, 상업, 공간컨설팅, 트렌드에 맞춰 나만의 라이프스타일을 디자인하다 YEJO인테리어.">
	<meta property="og:image" content="https://yejointerior.co.krhttp://yejo7048.cdn1.cafe24.com/images/sns_link.png">
	<link rel="canonical" href="https://yejointerior.co.kr">

	<link rel="stylesheet" type="text/css" href="/common/froala/css/froala_style.min.css" />

	<link rel="shortcut icon" type="image/x-icon" href="http://yejo7048.cdn1.cafe24.com/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/css/pretendard.css">
	<link rel="stylesheet" type="text/css" href="/css/animate.css">
	<link rel="stylesheet" type="text/css" href="/css/venobox.css">
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/doc.css">
	<link rel="stylesheet" type="text/css" href="/css/board.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/slick.css">
	<link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">
	<link rel="stylesheet" type="text/css" href="/css/consultant.css">
	<link rel="stylesheet" type="text/css" href="/css/kakao.css">

	<script src="/js/main/consultantRestApi.js" defer></script>
	<script src="/js/consultant.js" defer></script>
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="/js/addressAPI.js" defer></script>
	<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.gnb.js"></script>
	<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>	
	<script type="text/javascript" src="/js/slick.js"></script> 	
	<script type="text/javascript" src="/js/swiper.min.js"></script>
	<script type="text/javascript" src="/js/venobox.js"></script>
	<script type="text/javascript" src="/js/jquery.ui.js"></script>
	<script type="text/javascript" src="/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
	<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
	<link rel="stylesheet" type="text/css" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen">
	<script type="text/javascript" src="/js/wow.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</head>

<body id="sub" style="background-image:url('http://yejo7048.cdn1.cafe24.com/images/common/sub-bg.gif');">
<div id="skipToContent">
				<a href="#contArea">본문 바로가기</a>
				<a href="#gnb">주메뉴 바로가기</a>
	</div>
<div id="wrapper"> 
	<!-- // header -->
    <div th:replace="~{/main/header :: header}"></div>
	<!-- header //-->

	<!-- for mobile -->
	<div id="menu" class="mobile-navigation">
		<div class="home"><a href="/index.php"><img src="http://yejo7048.cdn1.cafe24.com/images/common/logo2.png" alt="YEJO INTERIOR"></a></div>
		<div class="m-lang"></div>
		<nav class="nav-menu">
		</nav>
		<a href="javascript:void(0);" class="close">Close</a>
	</div>
	<div class="mobile-overlay"></div>
    <script>
	function checkForm(frm){
		if(frm.chk.checked==false){
			alert("개인정보 수집 및 이용에 동의해주세요.");
			frm.chk.focus();
			return false;
		}
	}
</script>

<div id="container">
	<div id="contArea">
		<div class="sub-title">
			<h1>CONSULTANT</h1>
		</div>
		<div class="real-cont">
			<!--// content -->
			<style link rel="/css/style.css"></style>
<!-- 글쓰기페이지 START -->
<script language="javascript">
function frmCheck(frm){
	if(frm.subject.value.length < 2){
		frm.subject.focus();
		alert("성함을 입력해 주세요.");
		return false;
	}

	if(frm.chk.checked==false){
		alert("개인정보 수집 및 이용에 동의해 주세요.");
		frm.chk.focus();
		return false;
	}

	frm.checked_contents.value = "Y";
	/*//네이버 에디터
	try{ oEditors_contents.getById["contents"].exec("UPDATE_CONTENTS_FIELD", [])(); } catch(e){ }
	//썸머노트 에디터내용 입력
	try{ $("#contents").val($('#summernote_contents').summernote('code')); } catch(e){ }

	try{
		if(frm.youtube.value.length > 0 && frm.vimeo.value.length > 0){
				alert("1가지 동영상 업로드 가능합니다.");//1가지 동영상 업로드 가능합니다.
				frm.vimeo.value="";
				return false;
		}
	}catch(e){ }
	try{
		if(frm.vimeo.value.length > 0 && frm.website.value.length > 0){
				alert("1가지 동영상 업로드 가능합니다.");//1가지 동영상 업로드 가능합니다.
				frm.website.value="";
				return false;
		}
	}catch(e){ }
	try{
		if(frm.youtube.value.length > 0 && frm.website.value.length > 0){
				alert("1가지 동영상 업로드 가능합니다.");//1가지 동영상 업로드 가능합니다.
				frm.website.value="";
				return false;
		}
	}catch(e){ }*/
}


//첨부파일 열 추가
var rowcount = 0;
function append() { 
	if(rowcount > 3){
		return;
	}else{
		rowcount++;
	}

	var files = $('#files-upload');
	var file =  '<div class="files-upload-group">' +
				'	<div class="files-upload-input">' +
				'		<input name="upfiles['+rowcount+']" type="file" class="input" id="file'+rowcount+'" title="첨부파일'+rowcount+'">' +
				'	</div>' +
				'	<div class="files-upload-text">' +
				'		<div class="upfiles-alt">' +
				'			<label for="upfiles_text'+rowcount+'">대체 텍스트</label>' +
				'		</div>' +
				'		<input type="text" name="upfiles_text['+rowcount+']" class="input" id="upfiles_text'+rowcount+'" title="첨부파일'+rowcount+' 대체 텍스트">' +
				'	</div>' +
				'</div>'; 
	files.append(file);  
}

function remove() {  
	if(rowcount > 0){
		var files = document.getElementById('files-upload');
		if (files.hasChildNodes()) {      
			files.removeChild(files.lastChild);
		}
		rowcount--;
	}
}
//첨부파일 열 추가

function OnContents(str){	
	if(str=="Y"){
		contentEditor_y.style.display = "block";
		contentEditor_n.style.display = "none";
	}else{
		contentEditor_y.style.display = "none";
		contentEditor_n.style.display = "block";
	}
}

function inputNum(obj){
  if (event.keyCode >= 48 && event.keyCode <= 57) {
  }else {
	  alert("숫자만 입력해주세요.");
	  event.returnValue = false;
  }
}

</script>
<script>
        $(document).ready(function() {
            // '첨부파일 추가' 버튼 클릭 시 이벤트 핸들러
            $("#addFileButton").click(function() {
                // 새로운 파일 업로드 필드를 생성하여 컨테이너에 추가
                var newbannerImage = '<div class="files-div"><input type="file" name="upfiles[]" class="input" style="width:100%;"></div>';
                $(".files-container").append(newbannerImage);
            });
        });

		$(document).ready(function() {
            // '첨부파일 추가' 버튼 클릭 시 이벤트 핸들러
            $("#addFileButton2").click(function() {
                // 새로운 파일 업로드 필드를 생성하여 컨테이너에 추가
                var newbannerImage = '<div class="files-div"><input type="file" name="upfiles2[]" class="input" style="width:100%;"></div>';
                $(".files-container2").append(newbannerImage);
            });
        });
    </script>
<!-- S 쓰기페이지 -->
<div class="wow fadeIn"  data-wow-delay="0.3s" data-wow-duration="0.8s">
		<form id="form1">


		<div class="consult">
			<div class="agree-wrap">
				<h2 class="doc-tit"><span class="highlight">안내사항</span></h2>
				<div class="txt-box">
					<ul>
						<li>1. 여건상 부분 공사는 진행이 불가하여 문의를 받지 않는 점 참고 바랍니다.</li>
						<li>2. 빠른 상담을 위해 해당 내용을 상세히 작성 부탁드립니다.</li>
						<li>3. 현재 견적 문의량이 급증하여 답변이 늦어지고 있습니다. (영업일 기준 2~3일 소요)</li>
						<li>4. 모든 답변은 컨설턴트로 확인 부탁드리며, 공사 가능할 경우 개별적으로 연락 드리고 있습니다.</li>
					</ul>
				</div>
				<h2 class="doc-tit"><span class="highlight">개인정보취급방침</span></h2>
				<div class="txt-box agree-box">
					<div class="terms-wrap">
	<div class="sec">
		예조인테리어(는) (이하 '회사'는) 고객님의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호"에 관한 법률을 준수하고 있습니다. <br>

		회사는 개인정보처리방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.<br><br>
		회사는 개인정보처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.<br>
		- 본 방침은 : 2024년 04월 29일부터 시행됩니다. <br><br>
	</div>
	<div class="sec">
		<h3>1. 수집하는 개인정보 항목</h3>
		<p>회사는 회원가입, 상담, 서비스 신청 등등을 위해 아래와 같은 개인정보를 수집하고 있습니다.</p>
		<p>- 수집항목 : 이름, 생년월일, 성별 , 로그인 ID, 비밀번호, 비밀번호 질문과 답변, 자택 전화번호, 자택 주소, 휴대폰번호, 이메일, 쿠키, 결제기록 <br>
		- 개인정보 수집방법 : 홈페이지 (회원가입)</p>
	</div>
	<div class="sec">
		<h3>2. 개인정보의 수집 및 이용목적</h3>
		<p>회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.</p>
		<p><strong>서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산</strong> <br>
		콘텐츠 제공 , 구매 및 요금 결제 , 물품배송 또는 청구지 등 발송 , 금융거래 본인 인증 및 금융 서비스 <br>
		<strong>회원 관리</strong><br>
		회원제 서비스 이용에 따른 본인확인 , 개인 식별 , 불량회원의 부정 이용 방지와 비인가 사용 방지 , 가입 의사 확인 , 연령확인 , 불만처리 등 민원처리 , 고지사항 전달
		<strong>마케팅 및 광고에 활용</strong>
		이벤트 등 광고성 정보 전달 , 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계</p>
	</div>
	<div class="sec">
		<h3>3. 개인정보의 보유 및 이용기간</h3>
		<p>원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.</p>
		<ul>
			<li>- 보존 항목 : 결제기록</li>
			<li>- 보존 근거 : 계약 또는 청약철회 등에 관한 기록</li>
			<li>- 보존 기간 : 3년</li>
			<li>- 계약 또는 청약철회 등에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)</li>
			<li>- 대금결제 및 재화 등의 공급에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)</li>
			<li>- 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래등에서의 소비자보호에 관한 법률)</li>
		</ul>
	</div>
	<div class="sec">
		<h3>4. 개인정보의 파기절차 및 방법</h3>
		<p>회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.</p>
		<p><strong>파기절차</strong><br>
		회원님이 회원가입 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기되어집니다.<br>별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되어지는 이외의 다른 목적으로 이용되지 않습니다.<br>
		<strong>파기방법</strong><br>
		전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</p>
	</div>
	<div class="sec">
		<h3>5. 개인정보 제공</h3>
		<p>회사는 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.</p>
		<p>- 이용자들이 사전에 동의한 경우<Br>
		- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우</p>
	</div>
	<div class="sec">
		<h3>6. 이용자 및 법정대리인의 권리와 그 행사방법</h3>
		<p>- 이용자는 언제든지 등록되어 있는 자신의 개인정보를 조회하거나 수정할 수 있으며 가입해지를 요청할 수도 있습니다. <br>
		- 이용자들의 개인정보 조회,수정을 위해서는 '개인정보변경'(또는 '회원정보수정' 등)을 가입해지(동의철회)를 위해서는 "회원탈퇴"를 클릭하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다. <br>
		- 혹은 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체없이 조치하겠습니다. <br>
		- 귀하가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체없이 통지하여 정정이 이루어지도록 하겠습니다. <br>
		- 회사는 이용자의 요청에 의해 해지 또는 삭제된 개인정보는 "회사가 수집하는 개인정보의 보유 및 이용기간"에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다. <br>
		- 만14미만 아동의 경우 법정대리인이 아동의 개인정보를 조회하거나 수정할 권리 수집 및 이용 동의를 철회할 권리를 가집니다.</p>
	</div>
	<div class="sec">
		<h3>7. 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항</h3>
		<p>회사는 귀하의 정보를 수시로 저장하고 찾아내는 '쿠키(cookie)' 등을 운용합니다. 쿠키란 웹사이트를 운영하는데 이용되는 서버가 귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터 하드디스크에 저장됩니다. <Br>회사는 다음과 같은 목적을 위해 쿠키를 사용합니다.</p>
		<p><strong>쿠키 등 사용 목적</strong><br>
		회원과 비회원의 접속 빈도나 방문 시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적, 각종 이벤트 참여 정도 및 방문 회수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공<br>
		귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다. <br>
		<strong>쿠키 설정 거부 방법</strong> <br>
		쿠키 설정을 거부하는 방법으로는 회원님이 사용하시는 웹 브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나 쿠키를 저장할 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수 있습니다. <br>
		설정방법 예(인터넷 익스플로어의 경우) : 웹 브라우저 상단의 도구 > 인터넷 옵션 > 개인정보 <br>
		단, 귀하께서 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.</p>
	</div>
	<div class="sec">
		<h3>8. 개인정보에 관한 민원서비스</h3>
		<p>회사는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보 보호책임자를 지정하고 있습니다.</p>
		<p>이 름 :  <Br>전 화 :  <br>팩 스 :  <br>이메일 : </p>
		<p>귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다. <br>회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다. <br>기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.</p>
		<p>개인분쟁조정위원회 (www.1336.or.kr/1336) <br>정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4) <br>대검찰청 인터넷범죄수사센터 (http://icic.sppo.go.kr/02-3480-3600) <br>경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330)</p>
	</div>
</div>							
				</div>
				<div class="check space-center">
					<span class="checkbox"><input type="checkbox" name="chk" id="p_chk"><label for="p_chk">개인정보 수집 및 이용에 동의합니다.</label></span>
				</div>
			</div>
		</div>
		
	
		<div class="consult-form">
		    <h2 class="form-title"><span class="highlight">고객 정보</span></h2>
		    <div class="form-group">
		        <div class="form-box">
		            <dl>
		                <dt><label for="customer_name">성함</label></dt>
		                <dd><input type="text" name="name" id="customer_name" placeholder="성함을 입력해 주세요." class="form-input" required></dd>
		            </dl>
		        </div>
		     <div class="form-box">
			    <dl>
			        <dt><label for="contact1">연락처</label></dt>
			        <dd class="tel-input">
			            <input type="tel"  id="contact1" class="form-input contact-input small-input" maxlength="4" required> - 
			            <input type="tel"  id="contact2" class="form-input contact-input medium-input" maxlength="4" required> - 
			            <input type="tel"  id="contact3" class="form-input contact-input medium-input" maxlength="4" required>
			            <input type="hidden" id="tel" name="tel">
			        </dd>
			    </dl>
			</div>

		        <div class="form-box">
		            <dl>
		                <dt><label for="customer_email">이메일</label></dt>
		                <dd><input type="email" name="email" id="customer_email" placeholder="이메일을 입력해 주세요." class="form-input" required></dd>
		            </dl>
		        </div>                            
		        <div class="form-box">
		            <dl>
		                <dt>유입 경로</dt>
		                <dd>
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="inflow" id="source_youtube" value="유튜브" checked><label for="source_youtube">유튜브</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="inflow" id="source_instagram" value="인스타그램"><label for="source_instagram">인스타그램</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="inflow" id="source_blog" value="블로그"><label for="source_blog">블로그</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="inflow" id="source_referral" value="지인소개"><label for="source_referral">지인소개</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="inflow" id="source_search" value="인터넷검색"><label for="source_search">인터넷검색</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="inflow" id="source_others" value="기타"><label for="source_others">기타</label></span>
		                    </span>
		                </dd>
		            </dl>
		        </div>
		        <div class="form-box">
		            <dl>
		                <dt><label for="customer_password">비밀번호</label></dt>
		                <dd><input type="password" name="passwd" id="customer_password" placeholder="비밀번호를 입력해 주세요." class="form-input" required></dd>
		            </dl>
		        </div>
		    </div>
		    
		    <h2 class="form-title"><span class="highlight">견적 내용</span></h2>
		    <div class="form-group">
		        <div class="form-box wide-box">
		            <dl>
		                <dt><label for="construction_address">공사 예정지 주소</label></dt>
		                <dd>
		                	<input type="text" class="form-input" name="post" style="width:80px;" id="sample2_postcode" placeholder="우편번호">
							<input type="button" class="form-input address" onclick="sample2_execDaumPostcode()" value="주소 검색"><br>
							<input type="text" name="address1" id="sample2_address" class="form-input" placeholder="주소"><br>
							<input type="text" name="address2" id="sample2_detailAddress"	 class="form-input" placeholder="상세주소">
							<input type="text" id="sample2_extraAddress" class="form-input" placeholder="참고항목" style="display:none;">
							
							<!-- iOS에서는 position:fixed 버그가 있음, 적용하는 사이트에 맞게 position:absolute 등을 이용하여 top,left값 조정 필요 -->
							<div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
							<img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
							</div>
		                </dd>
		            </dl>
		        </div><br>
		        <div class="form-box wide-box">
		            <dl>
		                <dt>공간 구성</dt>
		                <dd>
		                    <span class="inner">평수 <input type="text" name="areaSize" id="area_size" class="form-input small-input" onkeypress="inputNum"> 평</span>
		                    <span class="bar"></span>
		                    <span class="inner">방 <input type="text" name="roomCount" id="room_count" class="form-input small-input" onkeypress="inputNum"> 칸</span>
		                    <span class="bar"></span>
		                    <span class="inner">욕실 <input type="text" name="bathCount" id="bath_count" class="form-input small-input" onkeypress="inputNum"> 칸</span>
		                </dd>
		            </dl>
		        </div>
		        <div class="form-box">
		            <dl>
		                <dt>공사 시작일</dt>
		                <dd><input type="text" name="constructionStartDate" class="form-input datepicker" placeholder="YYYY-MM-DD" required></dd>
		            </dl>
		        </div>
		        <div class="form-box">
		            <dl>
		                <dt>입주 예정일</dt>
		                <dd><input type="text" name="moveInDate" class="form-input datepicker" placeholder="YYYY-MM-DD" required></dd>
		            </dl>
		        </div>
		        <div class="form-box">
		            <dl>
		                <dt>공간 유형</dt>
		                <dd>
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="spaceType" id="type_apartment" value="아파트" checked><label for="type_apartment">아파트</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="spaceType" id="type_house" value="단독주택"><label for="type_house">단독주택</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="spaceType" id="type_villa" value="빌라"><label for="type_villa">빌라</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="spaceType" id="type_mixed" value="주상복합"><label for="type_mixed">주상복합</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="spaceType" id="type_officetel" value="오피스텔"><label for="type_officetel">오피스텔</label></span>
		                    </span>&nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="spaceTDype" id="type_others" value="기타"><label for="type_others">기타</label></span>
		                    </span>&nbsp;&nbsp;
		                </dd>
		            </dl>
		        </div>
		        <div class="form-box">
		            <dl>
		                <dt>공사 예산</dt>
		                <dd>
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="budget" id="budget_1000" value="1000만원"  checked onclick="budgeInput()"><label for="budget_1000">1000만원</label></span>
		                    </span>
		                    &nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="budget" id="budget_2000" value="2000만원" onclick="budgeInput()"><label for="budget_2000">2000만원</label></span>
		                    </span>
		                    &nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="budget" id="budget_3000" value="3000만원" onclick="budgeInput()"><label for="budget_3000">3000만원</label></span>
		                    </span>
		                    &nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="budget" id="budget_4000" value="4000만원" onclick="budgeInput()"><label for="budget_4000">4000만원</label></span>
		                    </span>
		                    &nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="budget" id="budget_5000" value="5000만원" onclick="budgeInput()"><label for="budget_5000">5000만원</label></span>
		                    </span>
		                    &nbsp;&nbsp;
		                    <span class="item">
		                        <span class="radiobox"><input type="radio" name="budget" id="budget_input" value="직접입력" onclick="budgeInput()"><label for="budget_input">직접입력</label></span>&nbsp;
		                        <input type="text" id="budget_money" style="width:100px; border:1px solid rgba(0,0,0,0.3);" readonly>만원
		                    </span>            
		                </dd>
		            </dl>
		        </div>
		        <div class="form-box wide-box">
		            <dl>
		                <dt><label for="floor_plan">층별 배치도</label></dt>
		                <dd><input type="file" id="floor_plan_file" class="form-input" accept=".jpg, .jpeg, .png, .pdf"></dd>
		            </dl>
		        </div>
		        
		        <div class="form-box wide-box">
		            <dl>
		                <dt><label for="reference">참고 사진(URL)</label></dt>
		                <dd><input type="file" id="reference_file" class="form-input" accept=".jpg, .jpeg, .png, .pdf"></dd>
		                <dd><input type="text" name="referenceUrl" id="reference_url" class="form-input" placeholder="참고할 수 있는 사이트의 URL을 입력해주세요"></dd>
		            </dl>
		        </div>
		        <div class="form-box wide-box">
		            <dl>
		                <dt><label for="floor_plan">기타 문의사항</label></dt>
		                <dd><textarea class="inquiry" name="additionalInquiries"></textarea></dd>
		            </dl>
		        </div>
		    </div>
		</div>
		</form>

		<div class="buttons">
			<div class="cen">
				<input type="button" id="submit_btn" value="견적신청" class="btn-pack xlarge type2 focus round" title="견적 신청">
			</div>
		</div>
</div>
			
			<!-- 고객요청사항 : 연락처 작성 시 다들 다르게 작성하실 것 같아서 010 띄고 0000 띄고 0000 이렇게 3개로 나누어 작성할 수 있도록 설정 부탁드립니다.
					하단 관심프로젝트 URL 제외 모든 항목 필수항목 -->

			<!-- content //-->
		</div>
	</div>
</div>
<div th:replace="~{main/kakao :: kakao}"></div>
	<!--// footer -->
   <div th:replace="~{/main/footer :: footer}"></div>
	
	
	
    <!-- footer //-->
</div>


</body>

</html>