<header id="header" th:fragment="header">
		
		<div class="contain">
			<div class="sitelogo"><a href="/">YEJO INTERIOR</a></div>	
			<div id="gnb">
				<h2 class="blind">주메뉴</h2>
				<ul>
					<li><a href="/company">YEJO STORY</a></li>
					<li><a href="/portfolio">PORTFOLIO</a></li>
					<li><a href="/consulting">CONSULTANT </a></li>
					<li><a href="/location">LOCATION </a></li>
					<li><a href="/review">REVIEW</a></li>
				</ul>
			</div>
			<a href="#menu" class="btn-m-menu"><span>메뉴</span></a><!-- for mobile -->

		</div>
		
		<div class="submenu-bg"></div>
	</header>